.o_list_view .o_data_row .o_data_cell,
.o_list_view .o_list_table thead th {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    max-width: 200px; /* Adjust as needed */
}
 
.o_list_view .o_data_row .o_data_cell {
    vertical-align: top !important;
    padding: 8px !important;
    line-height: 1.4 !important;
}

/* Apply bold text and light black background only to the specific tree view */
.aaa_service_tree tbody tr {
    font-weight: bold !important;
    background-color: #4d4949 !important;  /* Light black */
}

